XML/peliculas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="peliculas">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="pelicula"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="codigo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="codigo" type="xs:NCName"/>
</xs:schema>
